name: Docker Build & Push
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Build Docker image
      run: docker build -t Kikitooo/node-api-final .
    
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    
    - name: Tag & Push image
      run: |
        docker tag Kikitooo/node-api-final docker.io/Kikitooo/node-api-final:latest
        docker push docker.io/Kikitooo/node-api-final:latest
