name: Node.js Bear API CI/CD
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: 18
    - run: npm install
  docker:
    runs-on: ubuntu-latest
    needs: test
    steps:
    - uses: actions/checkout@v4
    - name: Build Docker
      run: docker build -t Kikitooo/scotch-bear-api .
    - name: Login Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Push image
      run: |
        docker tag Kikitooo/scotch-bear-api docker.io/Kikitooo/scotch-bear-api:latest
        docker push docker.io/Kikitooo/scotch-bear-api:latest
